# Telegram
[Controller.Telegram]
master = [] # master user id , account ID
botToken = '' # bot token
trigger = true
proxy = { status = false, url = "socks5://127.0.0.1:1080" } # Proxy set, but not openai api, only proxy bot

# Base Api
[Controller.Api]
host = "127.0.0.1"
port = 8558